<div class="row">
	<div class="col-md-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet justo pellentesque felis gravida lobortis. Nulla eros lorem, dapibus quis pellentesque a, interdum vel orci. Phasellus et velit lobortis, pretium ligula sit amet, bibendum ipsum. Aliquam sed laoreet purus. Donec augue diam, ornare eu leo vitae,</p>
		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet justo pellentesque felis gravida lobortis. Nulla eros lorem, dapibus quis pellentesque a, interdum vel orci. Phasellus et velit lobortis, pretium ligula sit amet, bibendum ipsum. Aliquam sed laoreet purus. Donec augue diam, ornare eu leo vitae,</p>
		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet justo pellentesque felis gravida lobortis. Nulla eros lorem, dapibus quis pellentesque a, interdum vel orci. Phasellus et velit lobortis, pretium ligula sit amet, bibendum ipsum. Aliquam sed laoreet purus. Donec augue diam, ornare eu leo vitae,</p>
		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	</div>
</div>